<%- include('includes/header.ejs') %>
    <h1>This Page Belongs To <B>@</B><%= data.name %></h1>
    <button>follow</button>
    <button>message</button>

    <P>Followers : <%=data.followers%> &nbsp;&nbsp;&nbsp;&nbsp;
        Following : <%=data.following%></P>

    <% for (post of data.posts){ %>
        <img src="<%=post.image%>" alt="some image">
        <P>likes : <%=post.likes%> &nbsp;&nbsp;&nbsp;&nbsp;
        comments : <%=post.comments%></P>
    <% } %>
</body>
</html>